@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container)> :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: rgb(216, 216, 216);
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .phoneNumberSmall {
    display: none;

    p {
      margin: 0;
      line-height: 42px;
      color: rgb(216, 216, 216);
      font-weight: 500;
      text-align: end;

      .icon {
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    text-align: end;
    padding-left: 0;
    padding-right: 14px;
    .cartBox {
      display: inline-block;
      position: relative;
      color: #ffffff;

      .cartIcon {
        background-color: $primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 8px;
        font-size: 14px;
        color: rgb(224, 227, 237);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {

  .root {
    .phoneNumber {
      display: none;
    }

    .phoneNumberSmall {
      display: block;

      p {
        font-size: 14px;

        .icon {
          font-size: 18px;
        }
      }
    }

    .logoImage {
      width: 70%;
      height: 70%;
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 575px) {

  .root {
    .phoneNumber {
      display: none;
    }

    .phoneNumberSmall {
      display: block;

      p {
        font-size: 17px;

        .icon {
          font-size: 32px;
        }
      }
    }

    .logoImage {
      width: 80%;
      height: 80%;
    }
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .root {
    .phoneNumber {
      p {
        font-size: 14px;

        .icon {
          font-size: 32px;
        }
      }
    }
  }
}