@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  margin-bottom: 2rem;
  min-height: 100%;
  position: relative;
  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
  }

  .description {
    position: relative;
    transform: translateY(-70px);
    padding: 20px 20px 0 20px;
    background-color: white;

    .title {
      padding: 0 15px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: $primary;
    }

    .text {
      padding: 0 15px;
      color: $text-color;
      font-size: 13px;
    }
  }
  .button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
