@import "../../../styles/settings.scss";

// .root {
// }


.active {
  color: $primary;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  right: -150%;
  transform: translateX(50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}

[data-tooltip]:hover::before {
  opacity: 1;
  visibility: visible;
}