@import "../../../styles/settings.scss";

.root {
  position: relative;
  // background-color: #e8edf7;

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row)>* {
      border-bottom: 4px solid #e2e2e2;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 50px;
        border-bottom: 4px solid $primary;
      }
    }
  }

  .menu {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;


      li {
        display: inline-block;
        font-weight: 600;
        border: 1px solid #e1e1e1;
        width: 100%;
        text-transform: uppercase;


        a {
          color: rgb(42, 42, 42);
          position: relative;
          text-decoration: none;
          font-size: 18px;
          display: block;
          padding: 10px 0;

          &.active,
          &:hover {

            background-color: #f4f5f7;
            color: $primary ;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              border-bottom: 4px solid $primary;
              background-color: #e1e1e1;
            }
          }
        }
      }
    }
  }

  .photo {
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
    }

  }

  .productInfo {
    .price {
      position: absolute;
      border-radius: 50%;
      background-color: #2a2a2a;
      opacity: 0.6;
      color: white;
      height: 105px;
      width: 105px;
      z-index: 1;
      top: 54%;
      left: 80%;
      transform: translate(-50%, -50%);
      padding: 10px;

      .newPrice {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
      }

      .oldPrice {
        text-decoration: line-through;
        color: #a5a5a5;
        text-decoration-color: $text-color;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
      }
    }

    .backgroundContent {
      background-color: #000000;
      width: 250px;
      position: absolute;
      top: 60%;
      right: 0;
      color: #fff;
      text-align: center;

      .content {
        position: relative;
        text-align: center;
        padding: 20px;
        border: 1px solid;
        overflow: hidden;
        background: #ffffff;
        clip-path: polygon(15% 0%, 100% 0%, 100% 75%, 85% 100%, 0% 100%, 0% 25%);

        h5 {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          color: #2a2a2a;
        }

        .stars {
          a {
            text-decoration: none;
            color: rgb(42, 42, 42);
          }
        }

      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2%;
    top: 30%;

    .button {
      margin: 5px;
      position: relative;

      .active {
        color: $primary;
      }
    }

    .active {
      color: $primary;
    }

    .button:hover::after {
      opacity: 1;
    }
  }

  .slider {
    width: 100%;

    .thumbnailContainer {
      display: flex;
      flex-wrap: no-wrap;
      justify-content: space-between;
      margin: 10px;

      .arrowButton {
        width: 33px;
        height: auto;
        background-color: #2a2a2a;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: $primary
        }
      }

    }


    .thumbnail {
      width: 30%;
      margin: 0 10px;


      img {
        width: 120px;
        height: 70px;
        background-color: black;
        opacity: 0.5;

        &:active {
          opacity: 1;
        }
      }
    }
  }

  [data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    right: -150%;
    transform: translateX(50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  [data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
  }
}