$base-padding: 24px;

// DON'T USE VARIABLES SET BELOW
$light-grey: #B7B7B7;
$grey: #434343;
$dark-grey: #2a2a2a;
$light-black: #363636;
$darkGrey: #2a2a2a;
$black: #292929;
$orange: #d58e32;
$white: #ffffff;
$very-light-grey: #e1e1e1;


// DON'T USE VARIABLES SET ABOVE

$lightGrey: rgb(169, 169, 169);
$silverGrey: #b6b6b6;
$charcoalGrey: #434343;
$granitGrey: #666666;


$facebook: #385593;
$google: #d14635;
$twitter: #1c98e5;
$pinterest: #da0021;
$linkedin: #0961b8;

$header-topbar-bg: $grey;
$header-bg: $light-black;

$footer-claim-bg: $dark-grey;
$footer-bg: $light-black;

$primary: $orange;

$text-color: $dark-grey;

$form-border-color: $black;

$banner-background: $grey;
$banner-orange-text: $orange;
$banner-menu-background: $light-grey;

$chat-textarea-bakground: $light-grey;

$filter-borders: $very-light-grey;
$filter-background: $white;
$filter-range: $black;

// Hover

a:hover {
    transition: all .25s;
    transition: color .25s;
    transition: background-color .25s;
    transform: translate(0px, 0px);
}