$base-padding: 24px;

// DON'T USE VARIABLES SET BELOW
$light-grey: #B7B7B7;
$grey: #434343;
$dark-grey: #2a2a2a;
$light-black: #363636;
$black: #292929;
$orange: #d58e32;

// DON'T USE VARIABLES SET ABOVE

$header-topbar-bg: $grey;
$header-bg: $light-black;

$footer-claim-bg: $dark-grey;
$footer-bg: $light-black;

$primary: $orange;

$text-color: $dark-grey;

$form-border-color: $black;

$banner-background: $grey;
$banner-orange-text: $orange;
$banner-menu-background: $light-grey;



// Hover

a:hover {
    transition: all .25s;
    transition: color .25s;
    transition: background-color .25s;
    transform: translate(0px, 0px);
}
