@import "../../../styles/settings.scss";

.root {

  .modalWindow {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  };

  .quitButton {
    font-size: 50px;
    position: absolute;
    top: 35px;
    left: 75px;
  }

  .photo {
<<<<<<< HEAD

=======
    object-fit: cover;
>>>>>>> a528cd0 (Add final styles)
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .modalData {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $orange;

  }

  .stars {
    background-color: white;
  }

  .productParams {
    text-align: center;
    margin-top: 100px;
    margin-right: 50px;
  }

  .oldPrice {
    text-decoration: line-through;
    padding-top: 10px;
  }

  .price {
    padding-top: 10px;
  }


};
