@import "../../../styles/settings.scss";

.root {
  position: relative;
  background-color: #e8edf7;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;

  }

  .promoText {
    text-align: left;
    position: absolute;
    top: 0;
    background-color: rgba(232, 237, 247, 0.5);
    padding: 30px;

    text {
      font-size: 18px;
      text-transform: uppercase;
    }

    .price {
      color: #79ae30;
      font-size: 48px;
      font-weight: 400;
    }

    .title {
      color: $primary;
      font-size: 48px;
      font-weight: 400;
    }
  }

  .button {
    background-color: #79ae30;
    padding: 10px;
  }
}