@import "../../../styles/settings.scss";

.root {
  position: relative;
  background-color: #e8edf7;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
  height: 100%;

  .photo {
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .promoText {
    text-align: left;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(232, 237, 247, 0.5);
    padding: 50px;
    font-weight: 600;

    .text {
      font-size: 18px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }

    .price {
      color: #79ae30;
      font-size: 42px;
    }

    .title {
      color: $primary;
      font-size: 42px;
      margin-bottom: 30px;
    }
  }

  .button {
    background-color: #79ae30;
    padding: 15px 36px;
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
  .root {
    display: none;
  }
}