@import "../../../styles/settings.scss";

.root {
  padding-top: 5rem;

  h4 {
    font-size: 20px;
  }

  .icon {
    &:hover {
      color: $primary;
    }
  }

  .active {
    color: $primary;
  }

  .productBox {
    background-color: #ffffff;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;

    .photo {
      position: relative;
      padding: 80% 10px 0 10px;
      z-index: 1;

      background: {
        color: #f4f5f7;
        size: contain;
        position: center;
        repeat: no-repeat;
      }

      overflow: hidden;
      align-items: flex-end;

      .button {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
      }

      &:hover {
        .button {
          opacity: 1;
        }
      }

      .timer {
        display: flex;
        opacity: 0;
        position: relative;
        z-index: 3;
        justify-content: center;
        color: $footer-bg;
        text-align: center;
        margin-bottom: 15px;
      }

      &:hover {
        .timer {
          opacity: 1;
        }
      }

      li {
        list-style-type: none;
        padding: 0;
        flex-grow: 0;
        position: relative;

        .iconTimer {
          color: $footer-bg;
          height: 60px;
          width: 60px;
          opacity: 0.9;
          position: relative;
        }

        p {
          color: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-54%, -54%);
        }
      }
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      text-align: center;
      padding: 20px;

      h5 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }
    }

    .line {
      margin: 0 10px;
      border-bottom: 1px solid #2a2a2a;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 30px;
        border-bottom: 4px solid $primary;
        transform: translateX(-50%);
      }
    }

    .actions {
      padding: 15px 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .prices {
        display: flex;
        justify-content: end;
        align-items: center;
      }

      .price {
        margin-inline-start: 10px;
      }

      .active {
        color: $primary;
      }
    }
  }

  .oldPrice {
    text-decoration: line-through;
    color: #a5a5a5;
    text-decoration-color: $text-color;
  }

  .buttonActive {
    cursor: pointer;
  }

  /* Col-8 */

  .hotProduct {
    position: relative;
    height: 550px;

    .photoProduct {
      height: 100%;
      position: relative;
      object-fit: cover;
      overflow: hidden;
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;

      background: {
        size: contain;
        position: center;
        repeat: no-repeat;
      }

      justify-content: space-between;
      align-items: center;

      .image {
        height: 525px;

        img {
          object-fit: cover;
          min-height: 525px;
          min-width: 860px;
        }
      }

      .heading {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 25%;

        .text {
          color: #ffffff;
          text-align: center;
          padding-block: 45px;
          text-transform: uppercase;

          h2 {
            font-size: 50px;
          }

          h3 {
            font-size: 20px;
          }
        }
      }

      .shopNow {
        border: none;
        background-color: #f5f6fa;
        padding: 10px 20px;
        display: flex;
        margin: auto;
        position: absolute;
        top: 55%;
        left: 41%;
        text-decoration: none;
        color: $text-color;
        text-transform: uppercase;
      }

      .slider {
        position: relative;
        height: 25px;

        .arrow {
          background-color: $footer-bg;
          border: none;

          &:hover:enabled {
            background-color: $primary;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .root {
    .hotProduct {
      .photoProduct {
        .shopNow {
          left: 33%;
          top: 72%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .root {
    .hotProduct {
      .photoProduct {
        .shopNow {
          left: 35%;
          top: 55%;
        }
      }
    }
  }
}

@media screen and (max-width: 493px) {
  .root {
    .hotProduct {
      .photoProduct {
        .shopNow {
          left: 33%;
          top: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .root {
    .hotProduct {
      .photoProduct {
        .shopNow {
          left: 30%;
          top: 70%;
        }
      }
    }
  }
}