@import "../../../styles/settings.scss";


.blogPosts {
  .blogInfoContainer {
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    margin: 0 0 20px 0;
  }

  .postTitle {
    font-weight: 400;
  }

  .imageContainer {
    max-height: 400px;
  }

  .postImage {
    width: -webkit-fill-available;
    max-height: 400px;
    object-fit: cover;
  }

  .readMoreColumn {
    text-align: end;
  }

  a {
    padding: 5px;
    color: $text-color;
    font-weight: 300;
  }

  .icon {
    padding-right: 5px;
  }

  .postText {
    margin: 15px 0 40px 0;
  }
}