@import "../../../../styles/settings.scss";


.nextRows {
  font-size: 11px;
  align-items: center;
  border: 1px solid $chat-textarea-bakground;
  border-bottom: none;
  padding: 8px;
}

.productImage {
  height: 80px;
  min-width: 80px;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.tableIcon {
  width: 100%;
  font-size: 28px;
  padding-bottom: 2px;
  padding-left: 5px;
  align-items: center;
  min-width: 40px;
}

.vertCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.price {
  color: rgb(79, 183, 79);
}